<div class="card">
    <form [formGroup]="userForm">
        <div class="mt-5 box">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>name</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" formControlName="name" class="form-control" placeholder="name">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>shortcode</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" formControlName="shortcode" class="form-control" placeholder="shortcode">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>price</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" formControlName="price" class="form-control" placeholder="price">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>quantity</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" formControlName="quantity" class="form-control" placeholder="quantity">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>date</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" formControlName="date" class="form-control" placeholder="date">
                        </div>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" (click)="addItem()">Add</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="col-md-8 mt-4 mb-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>shortcode</th>
                    <th>price</th>
                    <th>quantity</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listData">
                    <td><span>{{item.name}}</span></td>
                    <td><span>{{item.shortcode}</span></td>
                    <td><span>{{item.price}}</span></td>
                    <td><span>{{item.quantity}}</span></td>
                    <td><span>{{item.date}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>